* {
    box-sizing: border-box;
}

body {
    height: 100vh;

    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%) 100%);
    background-repeat: no-repeat;
    background-size: cover;

}


.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10rem;
    border-radius: 20px;
    background-color: white;
    padding-bottom: 1rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.img-container {
    width: 60%;
    margin: 0 auto;
    overflow: visible;
    margin-bottom: -5rem;
}

.img {
    content: url("../images/illustration-woman-online-mobile.svg");
    text-align: center;
    position: relative;
    top: -8rem;
}

.img-container-shadow {
    width: 100%;
    margin: 0 auto;
    overflow: visible;

    margin-bottom: -5rem;
}

.img-shadow {
    content: url("../images/bg-pattern-mobile.svg");
    text-align: center;
    width: 10rem;
    position: relative;
    top: -8rem;
    left: 7.5rem;


}

.heading {
    text-align: center;
}

.heading h1 {
    font-size: 2rem;
}

.questions-container {
    /* border: 1px solid red; */
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 5rem;


}

.arrow-svg {
    width: 15px;
    height: 12px;

}

.question-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.question {
    font-size: 1rem;
}

.answer {
    margin-top: 8px;
    color: rgb(86, 86, 86);
}

.hidden {
    display: none;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 400;
}

.rotate {
    -webkit-transform: rotate(180deg);

}